* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans';
}

.container {
    width: 1140px;
    margin: 130px auto;
}

.btn {
    color: #005FAC;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    margin-top: 30px;
}

/* Bannar & Nav Area */


.bannar {
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.nav {
    width: 1040px;
    margin: 0 auto;
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
}

.nav h3 {
    color: #FFF;
    font-size: 28px;
    font-weight: 700;
}

.nav-menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-menu ul li a {
    text-decoration: none;
    color: #F3F3F3;
    font-size: 18px;
    font-weight: 600;
    padding-left: 20px;
}

.bannar-details {
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: right;
}

.bannar-content {
    width: 550px;
    margin-right: 100px;
    margin-top: 80px;
    color: #fff;
}

.section-tittle {
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 24px;
}

.section-description {
    font-size: 16px;
    margin-left: 70px;
}

/* About me  */

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 700px;
    gap: 40px;
}

.about-content h3 {
    font-size: 40px;
    font-weight: 700;
    color: #151414;
    width: 400px;
}

.about-content p {
    font-size: 16px;
    color: #444343;
    width: 400px;
    margin: 16px 0 24px;
}

.about-content ul {
    list-style: none;
}

.about-content ul li {
    color: #444343;
    font-size: 16px;
}

.about-content ul li i {
    color: rgb(75, 249, 89);
    width: 24px;
    height: 24px;
}

/* Blog  */

.hot-gadge {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #151414;
    padding-bottom: 50px;
}

.blogs {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.blog img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 4px 7px 20px #151414;
}

.blog h4 {
    font-size: 20px;
    font-weight: 700;
    color: #333;
    margin: 15px 0;
}

.blog span {
    color: #151414;
}

.blog .blog-btn {
    background: transparent;
    border: 1px solid #a59e9e;
    margin: 2px 0;
    padding: 1px 10px;
    border-radius: 3px;
}

/* plan section  */

.plan-tittle {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 50px;
}

.items {
    display: flex;
    justify-content: space-between;
}

.item {
    text-align: center;
}

.item-img {
    width: 50px;
}

.item-tittle {
    font-weight: 700;
    font-size: 30px;
    font-weight: 700;

    padding: 12px 0;
}

.item-desc {
    font-size: 25px;
    font-weight: 500;
    color: #737272;
}

/* time-management */

.time-management {
    background-image: url('../images/gradient1.png'), url('../images/watch.png ');
    background-repeat: no-repeat;
    background-position: left bottom, right bottom;
    height: 300px;
    position: relative;
}

.time-content {
    width: 400px;
    position: absolute;
    top: 60px;
    left: 60px;
}

.time-tittle {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;

}


/* start footer area */

.footer {
    background-color: #151414;
    color: #FFF;
    height: 500px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.future,
.subscribe {

    margin: 130px 0;
}

.custom-width {
    width: 500px;
}

.future-tittle {
    font-size: 45px;
    font-weight: 700;

}

.future p,
h5 {
    font-size: 16px;
    font-weight: 400;
    margin: 16px 0 24px;
}

.future h5 {
    margin: 16px 0;
}

.footer .icons a {
    width: 46px;
    height: 46px;
    margin-right: 18px;
}

.sub-tittle {
    font-size: 25px;
    font-weight: 600;
}

.subscribe input {
    font-size: 18px;
    color: #F3F3F3;
    padding: 18px;
    margin-top: 30px;
    border-radius: 5px;
    border: 1px solid #F3F3F3;
    background: transparent;

}

.subscribe-btn {
    background-color: #005FAC;
    color: #fff;
    margin-top: 16px;
}