* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans';
}

.container {
    width: 1140px;
    margin: 130px auto;
}

.btn {
    color: #005FAC;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    margin-top: 30px;
}

/* Bannar Area */


.bannar {
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.bannar-details {
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: right;
}

.bannar-content {
    width: 550px;
    margin-right: 100px;
    margin-top: 130px;
    color: #fff;
}

.section-tittle {
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 24px;
}

.section-description {
    font-size: 16px;
    margin-left: 70px;
}

/* About me  */

.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 700px;
    gap: 40px;
}
.about-content h3{
font-size: 40px;
font-weight: 700;
color: #151414;
width: 400px;
}
.about-content p{
    font-size: 16px;
    color: #444343;
    margin: 16px 0 24px;
}
.about-content ul{
    list-style: none;
}
.about-content ul li{
    color: #444343;
    font-size: 16px;
}
.about-content ul li i{
    color: rgb(75, 249, 89);
    width: 24px;
    height: 24px;
}

/* plan section  */

.plan-tittle {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 50px;
}

.items {
    display: flex;
    justify-content: space-between;
}

.item {
    text-align: center;
}

.item-img {
    width: 50px;
}

.item-tittle {
    font-weight: 700;
    font-size: 30px;
    font-weight: 700;

    padding: 12px 0;
}

.item-desc {
    font-size: 25px;
    font-weight: 500;
    color: #737272;
}

/* time-management */

.time-management {
    background-image: url('../images/gradient1.png'), url('../images/watch.png ');
    background-repeat: no-repeat;
    background-position: left bottom, right bottom;
    height: 300px;
    position: relative;
}

.time-content {
    width: 400px;
    position: absolute;
    top: 60px;
    left: 60px;
}

.time-tittle {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;

}